.splitter.col {
  height: 0.3rem;
  background: var(--elem-border-color);
  width: 100%;
  position: relative;
  cursor: ns-resize;
}

.splitter.row {
  width: 0.3rem;
  background: var(--elem-border-color);
  height: 100%;
  position: relative;
  cursor: ew-resize;
}

.splitter svg {
  position: absolute;
  fill: var(--elem-highlight-inactive-color);
}
.splitter.col svg {
  height: 0.2rem;
  top: 0.05rem;
}

.splitter.row svg {
  width: 0.2rem;
  left: 0.05rem;
}

.splitter:focus svg {
  fill: var(--elem-highlight-active-color);
}